<div class="header_H1">
  <header>
    <h1>How many coins fit?</h1>
  </header>
  <p>
    If you won the lotto and recieved your winnings in coins could you fit it
    all in your bedroom?
  </p>
  <p>
    You might be suprised by how much space a few million coins will take up!
  </p>
  <p>
    Try entering the dimentions of you berdoom below and chose a coin and see
    how many coins you could fit, just remember this will fill you room with
    coins and not leave any space left for you or the bed. lol
  </p>
</div>
