<!--Input fields for bedroom sizes-->
<div>
  <div class="mySpaceSizes">
    <form action="" method="post" id="MyForm">
      <label for="length, width, heigth">The Size of My Bedroom is</label><br />
      <input
        class="roomsize"
        id="length"
        type="number"
        placeholder="Length"
        required
      />Meters<br />
      <input
        class="roomsize"
        id="width"
        type="number"
        placeholder="Width"
        required
      />Meters<br />
      <input
        class="roomsize"
        id="heigth"
        type="number"
        placeholder="heigth"
        required
      />Meters <br />
      <label for="volume">Volume =</label> <br />
      <input type="text" name="volume" id="volume" />m³ <br />
      <input type="submit" value="Calculate" id="submit" />
    </form>
  </div>
</div>
