<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">Donations Box</header>
        <div class="testimonial__image">
          <img src="/images/Ceart_1.JPG" alt="Smiling happy customer" />
          <img src="/images/Ceart_2.JPG" alt="Smiling happy customer" />
          <img src="/images/Ceart_3.JPG" alt="Smiling happy customer" />
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">Wine Bottle Caddy</header>
        <div class="testimonial__image">
          <img
            src="/images/Wine bottle holder-2.JPG"
            alt="Smiling happy customer"
          />
          <img
            src="/images/Wine bottle holder-3.JPG"
            alt="Smiling happy customer"
          />
          <img
            src="/images/Wine bottle holder-1.JPG"
            alt="Smiling happy customer"
          />
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">Machinery</header>
        <div class="testimonial__image">
          <img src="/images/New saw_1.JPG" alt="Smiling happy customer" />
          <img src="/images/New saw_2.JPG" alt="Smiling happy customer" />
          <img src="/images/New saw_2.JPG" alt="Smiling happy customer" />
        </div>
      </div>
    </div>
  </div>
</section>
